.container-content{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrapper{
    width:25dvh ;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.8)), url("E:\College_Travel_Booking\frontend\Travel_Booking\src\assets\Slide2.jpg");
                       background-size: cover;
    ;
}


